:root{
    --primary-color:rgb(7, 9, 39);
}
*{
  padding: 0;
  box-sizing: border-box;
}

.site-primary-color{
    color:var(--primary-color);
  
}
.site-bg-color{
  background: var(--primary-color);
}


.movie-card{
  width: 18rem;
  height: 22rem;
  box-shadow: 0 0 5px rgb(228, 220, 220);
  position: relative;
}
.movie-card img{
  position: absolute;
  width: 100%;
  height:60%;
  object-fit: cover;
}
.details{
  position: absolute;
  
  top:70%;
  left:50%;
  transform: translate(-50%,-50%);
  bottom:0%;
  width: 100%;
  height: 10%;
  text-align: center;

}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color:none!important;
  outline: 0;
  box-shadow:none!important;
}
@media screen and (max-width:768px)
{
  .movie-card{
    margin-left: 30px;
    margin-bottom:1rem ;
  }
}